
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Welcome to the VYO </h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Dashboard</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight" ng-controller="dashboardController">

    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>VYO Information</h5>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Raleigh
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Newjersey
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Newyork
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Boston
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Columbus
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Florida
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO SanFransico
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    VYO Arizona
                                    <div class="panel-body">
                                        Contact: Arvind Shah<br />
                                        Phone number: 919 510 0377
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>

</div>
@*<div class="panel-heading">
        <button type="button"onclick="location.href='@Url.Action("List", "BhajanDocuments")'" class="btn btn-block btn-outline btn-primary">
        Do you want to create booklet?
        </button>
    </div>*@
@*<div class="panel-body">
        <button type="button" onclick="window.location.href='http://www.mcmelectronics.com'" class="btn btn-block btn-outline btn-primary">MCM Website</button>
        <button type="button" onclick="window.location.href = 'https://www.mcmelectronics.com/services/guest/viewOrder.aspx'" class="btn btn-block btn-outline btn-primary">Track a Web Order</button>
        <button type="button" onclick="window.location.href = 'http://www.mcmelectronics.com/content/en-US/rebates'" class="btn btn-block btn-outline btn-primary">Current Product Rebates</button>
        <button type="button" onclick="window.location.href='http://www.mcmelectronics.com/rewards'" class="btn btn-block btn-outline btn-primary">Rewards Home Page</button>
        <button type="button" onclick="window.location.href='http://www.mcmelectronics.com/content/en-US/dealerintro'" class="btn btn-block btn-outline btn-primary">Dealer Application</button>
        <button type="button" onclick="window.location.href='http://www.mcmelectronics.com'" class="btn btn-block btn-outline btn-primary">Current Email Campaign</button>
        <button type="button" onclick="window.location.href = 'HTTPS://uswebmail.premierfarnell.com'" class="btn btn-block btn-outline btn-primary">Exchange WebMail</button>
        <button type="button" onclick="window.location.href = 'HTTPS://192.168.20.10/webmail  '" class="btn btn-block btn-outline btn-primary">Send WebMail</button>
        <button type="button" onclick="window.location.href = 'https://www.mcmelectronics.com/services/customer/account.aspx'" class="btn btn-block btn-outline btn-primary">Web Admin</button>
    </div>*@







